<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPen7y0rIH13X-Wlamn02ZKzhWU5l5BP4</string>
	<key>GCM_SENDER_ID</key>
	<string>433077032845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raybit.DeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-dc2fd</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-dc2fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433077032845:ios:0b96eb2e9401be1b8bcfc4</string>
</dict>
</plist>